<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebConnectPrj copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WebConnectPrj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>180D589619E622680045A720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180D58AF19E622680045A720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1820913A1EA6F0460015E393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182091451EA6F1460015E393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183320A41ED6B0A100B1ECEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183323021ED6B10D00B1ECEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A5D4061E851406009CF594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
